.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 466px;
    height: 500px;
    padding: 56px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.heading-container {
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.heading {
    font-size: 30px;
    color: #000;
    line-height: 4px;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.forgot-password {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.disclaimer {
    margin-top: 32px;
    font-size: 14px;
    color: #858484;
    width: 466px;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}
