.product-container {
    background-color: #fff;
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 466px;
  height: 500px;
  padding: 56px; */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
