.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product {
    width: 300px;
    min-height: 450px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.product-img {
    height: 300px;
    width: 300px;
}

p {
    font-size: 20px;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.description {
    font-size: 14px;
    color: #858484;
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.message-container {
    width: 100vw;
}

.active {
    color: #9a4ad6;
}
